*
body{
	background-color:cornsilk;
    background-image:url("mi1.jpg");
}
img
{
	width:200px;
	height:200px;
}
h1
{
	color:#ef5350;
	text-align:center;
	font-size:80px;
}
p  
{
	text-align:justify;
	color:black;
}
table
{
	background-color:white;
	width:30%;
	height:30%;
	border-spacing:7px;
}
td
{
	text-align:center;
	font-family:Copperplate;
}
	