*
{
    color:green;
    background-color:black;
}

h1
{ 
  color: ;
  text-align:center;
  fond-family:verdana;
}
p
{
     fond-size:20px;
     fond-family:courier new;
     background-color: ;
}