*
{
	font-family:courier New;
	background-color:#e53935;
	margin:20px;
}
h1
{
	color:#ef5350;
	text-align:center;
	font-size:80px;
}
img
{
	width:200px;
	height:200px;
}
p  
{
	text-align:justify;
	color:#ffcdd2;
}
table
{
	background-color:white;
	width:30%;
	height:30%;
	border-spacing:7px;
}
td
{
	text-align:center;
	font-family:Copperplate;
}
