*
{
    marging:5px;
	paddign:5px;
  
}

header
{ 
  height:100px ;
  background:100px;
  
}
p
{
     fond-size:20px;
     fond-family:courier new;
     background-color: ;
}
{
    color:green;
    background-color:black;
}

h1
{ 
  color: ;
  text-align:center;
  fond-family:verdana;
}
p
{
     fond-size:20px;
     fond-family:courier new;
     background-color: ;
}

h1
{ 
  color: ;
  text-align:center;
  fond-family:verdana;
}
p
{
     fond-size:20px;
     fond-family:courier new;
     background-color: ;
}